.parking-overview {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .chart {
    width: calc(100% - 2em);
    padding: 1em 2em;

    .tooltip {
      color: #000000;
      padding: 0.5em;

      .hidden {
        display: none;
        visibility: hidden;
      }
    }
  }
}
